/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status

# macOS
.DS_Store

# rbenv
.ruby-version

# byebug
.byebug_history

# editors
.idea
.vscode
.zed

# lsp
.solargraph.yml
