/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status

# macOS
.DS_Store

# rbenv
.ruby-version

# byebug
.byebug_history

# RubyMine
.idea

# VS Code
.vscode

# solargraph
.solargraph.yml
